html{ font-family:'Maven Pro', sans-serif;}
body{background-color:#B2CCFF;
color: white;
}
#title{
  color:white;
  font-size:24px;
  text-align:center;
  text-transform: uppercase ;
}

#intro{
  color:black;
  text-align:center;
}

#regions li{
  border:1px solid red;
  text-align:center;
  font-weight: bold;
  list-style-type: none;
  width: 200px ;
  margin-bottom: 50px;
}  

#links{
}
.homestyle a{
  text-decoration:none;
  }

.homestyle {

 margin: 0 auto;
 display:inline;
 float: center;
 
 }

 #map{
 height: 40% ;
 width: 40%; 
}







































h5 {
font-size:0px;
}

