/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

@import url(https://fonts.googleapis.com/css?family=Merriweather:200, 400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


/*body {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
*/
/*    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}*/

h1, h2, h3, h4, h5, h6 {
	font-family: Lato; 
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
}
a:link{
	text-decoration: none;
	color:black;
}

a:visited{
	text-decoration: none;
	color:black;
}
a:hover{
	color:red;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */
/*
#headerwrap {
	background: url(../img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

/*#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
/*about me page*/
#paris { 
	background-image: url(../img/mugshotwithparis2.png);
	float:right;
    margin-top:-80px;
    z-index: -100;
    padding: 0px;
    height:950px;
    width: 250px;
}

.about_text{
	font-family:'Merriweather 400';
	font-size:16px;
}

#jp{
	z-index: -100;
	float:right;
}

/* start of portfolio page*/
#portfolio{
	font-family:Lato;
	font-weight:700;
	font-size:20px;
	text-align:center;
}

.project_title{
	font-family:lato;
	font-weight: 700;
	font-size:14px;
	text-align: center;
	padding:10px;
}

.project_text{
	width:250px;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	font-family:Merriweather;
	font-weight:200;
	font-size: 13px;
	text-align:center;
	position:right;
}

#rightColumn{
	margin:0 0;
}
#middle_column{
	margin-top:-100;
}

#leftColumn{
	margin:-400;
}

/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	 opacity: .4;
	

/*transform-origin: 0% 0%;;
	transform: scale(3.8);
      -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
     z-index: 0;*/
    
}
/*/*Individual pages in order*/

#joypain_sub img{

}

#bikerack_sub img{
	margin-left: auto;
	margin-right:auto;
	width:1000px;
	height: 500px;

}

#treeinspection_sub img{
	margin-left: auto;
	margin-right:auto;
	width:700px;
	height: 400px;

}


#opendata_sub img{
	margin-left: auto;
	margin-right:auto;
	width:700px;
	height: 400px;

}

#opendata_sub img{
	margin-left: auto;
	margin-right:auto;
	width:700px;
	height: 400px;

}

.sub img{
	margin-left: auto;
	margin-right:auto;
	/*width:700px;
	height: 400px;

}

/*.sub img:hover {
	 opacity: 1;
	transform-origin: 50% 60%;;
	transform: scale(1.2);
      -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
     z-index: 9999;     */
}