/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600i,700,700i|Playfair+Display:400,400i,700,700i');


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 0px;
}

.mb {
	margin-bottom:0px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-color:#2d2d2f;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/*h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}
*/

.navbar-brand {
	font-weight: 700;

}

.navbar-default .navbar-brand {
	color: #2d2d2f;
	font-size:38px;
	font-family: 'Playfair Display', serif;
	font-weight:700;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color:#2d2d2f;
	background-color: transparent;
	border-bottom: 2px solid #2d2d2f;v
}

.navbar-default .navbar-nav > li > a {
	font-family:'Playfair Display', serif;
	font-weight: 700;
	color: #2d2d2f;
	font-size:18px;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */
/*
#headerwrap {
	background: url(../img/brick.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top: 0px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

/*#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}
*/
#heading{
	margin-top: 55px;

}
#brick img{
	z-index: -18;
}

#brick{
  width:100%;
  margin-top:90px;
  margin-bottom:0px;
}

#chevron{
	color:#2d2d2f;
	font-size:50px;
}

/*#name{
	z-index: 7;
	margin-top:-580px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 500px;
	font-size: 52px;
	font-family:Lato;
	font-weight:700;
	color:#29232c;
	background-color: white;
	text-align: center;*/
/*}
*/
#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





/* ------------------------------------------------------------------------------------------------------------------
 ABOUT ME SECTION

--------------------------------------------------------------------------------------------------------------------*/

#paris { 
	background-image: url(../img/mugshotwithparis.png);
	background-repeat: no-repeat;
	float:right;
    margin-top:-80px;
    z-index: -100;
    padding:0px;
    height:900px;
    width: 250px;
}

#map_bgrd{
  background-image: url(../img/paris2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
         
}


#Me{
	padding-left:40px;
	margin-left:0px;
	padding-right:60px;
}

@media screen and (min-width: 1200px) {
 #Me {margin-left: 70px;}
}

@media screen and (min-width: 550px) and (max-width: 768px){
 #Me {margin-left: 23%;}
}

@media screen and (min-width: 451px) and (max-width: 550px){
 #Me {margin-left: 17%;}
}

@media screen and (min-width: 400px) and (max-width: 450px){
 #Me {margin-left: 12%;}
}



.about_me{
	font-family:'Open Sans', sans-serif;
	font-size:16px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	max-width:750px;
}

/*#jp{
	z-index: -100;
	float:right;
}*/

@media (max-width: 993px) {
#headerwrap{margin-top:50px;}
}


/* start of portfolio page*/
#portfolio{
	font-family:'Playfair Display', serif;
	font-weight:700;
	font-size:25px;
	text-align:center;
}

.project_title{
	font-family:'Playfair Display',serif;
	font-weight: 700;
	font-size:20px;
	text-align: center;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}

.project_text{
	/*width:300px;*/
	height:70px;
	margin-top:-10px;
/*	margin-bottom: 20px;*/
	margin-left: auto;
	margin-right: auto;
	font-family:'Open Sans', sans-serif;
	font-weight:400;
	font-size: 16px;
	text-align:center;
/*	position:right;*/
	padding-top: 7px;
	padding-left:5px;
	padding-right:5px;
}

#TextImage_block{
	margin-top: 14% !important;

}

#about_TextImage_block{
		margin-top: 14% !important;
		padding-right:0px;
		margin-right:0px;
		overflow-x: hidden;
}



p.project_title a{
	color:#2d2d2f;
	text-decoration: none;
}

p.project_title a:hover{
	opacity: .7;

}

/* ------------------------------------------------------------------------------------------------------------------
SUB-PAGE PORTFOLIO

--------------------------------------------------------------------------------------------------------------------*/


/*headers on the sub projct pages themselves. I wanted them to be smaller*/
p.projectPage_title {
	color:#2d2d2f;
	font-size:20px;
	font-family: 'Open sans', helvetica, sans-serif;
	font-weight: 600;
}

p.projectPage_text {
	color:#2d2d2f;
	font-size:18px;
	font-family: 'Open sans', helvetica, sans-serif;
	font-weight: 400;
}

.about_text{
	font-family:'Open Sans', sans-serif;
	font-size:16px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
}



.software{
	font-family:'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	color:#454546;
}

#footerwrap{
	font-weight: 400;
	background-color:#2d2d2f; 
	color:#4fadad; 
	font-size:16px;
	padding:30px;

}

#contact_footer{
	margin-top: 50px;
	vertical-align: bottom;
	position: absolute;
}

#contact_container{
	margin-top: 150px;
	}

#all_container{
	margin-top:150px;
	margin-bottom: 70px;
}

/*#legend_container{
	height:600px;


}
@media (min-width: 993px){
#legend{width:500px; margin-top:20%;padding-right:20px;}
}

@media (min-width: 786px){
#legend{width:450px; margin-top:20%;margin-right:200px;}
#legend_container{height:450px;}
}


@media (max-width: 600px){
#legend{width:480px; margin-top:10%; margin-right:auto; margin-left: auto;}
#legend_container{height:450px;}
}*/

#thankyou_message{
	font-family:'Open Sans', helvetica, sans-serif;
	color:#ed975c;
	text-align:center;
	align:center;
	font-size:25px;
	padding: 20px;
	margin:100px;

}

a.external:link { color:#4fadad; text-decoration:none;}
a.external:visited { color: #4fadad; text-decoration:none;}
a.external:hover { color:#a5544d; text-decoration:none;}
a.external:active { color:#4fadad; text-decoration:none;}

/*for the about me page*/
a.info:link { color:#454546; text-decoration:none;}
a.info:visited { color:#454546; text-decoration:none;}
a.info:hover { color:#4fadad; text-decoration:none;}
a.info:active { color:#454546; text-decoration:none;}




/* ------------------------SCREEN IMAGES FOR PROJECTS------------------------------------------*/

/*LEFT COLUMN  */
#balzac{
	margin-left: auto;
	margin-right: auto;

}

#balzac3{
	margin-left: auto;
	margin-right: auto;
	margin-bottom:70px;
	
}

#georef{
	margin-left: auto;
	margin-right: auto;

}


/**/
#joypain{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}

@media (max-width: 767px) {
#joypain img{margin-left:auto; margin-right:auto;}

}
/*RIGHT COLUMN*/
#holiday{
	margin-left: auto;
	margin-right: auto;
}

#mhapo{
	margin-top:-15px;
	margin-left: auto;
	margin-right: auto;
}


#smell{
	margin-left: auto;
	margin-right: auto;
	margin-top:-5px!important;
}


#smell_sub{
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	
}

@media (min-width: 993px) {
#smell_sub {margin-top:-85px;}
}


#fall{
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

#falltop{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}
#cicatrix{
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

#cicatrix_top{
	margin-right: auto;
	margin-left: auto;
}

#cicatrix_sub{
padding-top: 5px;
padding-bottom: 5px;
}

#dust2{
	margin-left: auto;
	margin-right: auto;
}

#dustJacket{
	margin-top: 0px;
}

@media (max-width: 767px) {
#dustJacket img{margin-left:auto; margin-right:auto;}
}

/*#book{
	margin-left: auto;
	margin-right: auto;
}*/

#dada{
	margin-left: auto;
	margin-right: auto;
	margin-bottom:40px;
}

.margin{
	margin-left: auto;
	margin-right: auto;
	padding-right: 0px;
}

#roadmap_top{
	margin-left: auto;
	margin-right: auto;
	margin-bottom:50px;
}

@media (min-width: 993px) {
#roadMap{margin-top:-30px;}
#bike{margin-top:40px;}
}

#wetland2{
	margin-left: auto;
	margin-right: auto;
}

#opendata{
	margin-left: auto;
	margin-right: auto;

}

#CTU2{
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 767px) {
#CTU img{margin-left:auto; margin-right:auto;}


}

#richter{
	margin-left: auto;
	margin-right: auto;	
}


#SOA{
	margin-left: auto;
	margin-right: auto;	
}


@media (max-width: 767px) {
#SOA img{margin-left:auto; margin-right:auto;}

/*
@media (min-width:; 768px) and (max-width: 992px) {
#
}

@media (min-width: 993px) {
#richter{margin-top: 40px !important;}

}*/

#bike img{
	margin-left: auto;
	margin-right: auto;
}

#bike_all{
	margin-top:150px!important;
}

#illuminated img{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 767px) {
#illuminated img{margin-left:auto; margin-right:auto;}
}


#illuminated2 img{
	margin-left: auto;
	margin-right: auto;
}

#tree{
	margin-left: auto;
	margin-right: auto;
}

#tree2{
	padding-bottom: 20px;
}

/* Gallery */
/*.gallery {
	margin-top: 30px;
}*/
.gallery img:hover {
	opacity: 0.7;
	cursor: pointer;
}

